<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/boot.css">
</head>
<body>
    
<div class="container">
  <div class="jumbotron">
    <h1>{{ name }}</h1>
  </div>
  <div class="row">
    <div class='matplotlib'>
        <img src="static/temp/{{plotPng}}">
    </div>
  </div>
  <div class="modal-footer">
  	<a href="/">Inicio</a>
  	<a href="/users">Usuarios</a>
  	<a href="/temp">Temperatura</a>
  </div>
</div>
    
    
    
    
    
    
</body>
</html>
    